<!DOCTYPE html>
<html>
<head>
    <title>Add Patient</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Add Patient</h1>
    <form method="post">
        {% csrf_token %}
        <h2>User Information</h2>
        {{ user_form.as_p }}
        <h2>Patient Information</h2>
        {{ patient_form.as_p }}
        <button type="submit">Add Patient</button>
    </form>
    <a href="{% url 'patient_list' %}">Back to Patient List</a>
</body>
</html>
